@import url(https://fonts.googleapis.com/css?family=Oswald|Nixie+One);

@import '../styles/collector';

body,
html {
  padding: 0;
  margin: 0;
  font-size: $global-font-size;
  color: #333;
  font-family: 'Nixie One', serif;
  background-color: #ddd;
  line-height: 1.5;
  height: 100%;

  a {
    color: inherit;
    transition: all 200ms ease-in;
    transform: translateX(0);
    font-family: inherit;
    &:hover {
      opacity: 0.6;
      transform: translateX(1rem);
    }
  }
  h1,
  h2,
  h3 {
    font-family: 'Oswald', sans-serif;
    letter-spacing: 2px;
  }
  img {
    max-width: 100%;
    height: auto;
  }
}
body {
  box-shadow: inset 0 -5rem 6rem rgba(0, 0, 0, 0.1);
}
* {
  box-sizing: border-box;
}
